@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    line-height: 1;
    color: inherit;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}
