@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
/* 초기화 */
h2,h2,h3,h4,h5,h6{
    font: 100%/1 'Montserrat', sans-serif;;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}

a,span{
    display: inline-block;
}

/* 상속 */
body{
    font: 14px/1.5 'Montserrat', sans-serif;;
    color: #888;
}

/* 공통 */
.clear::after{
    display: block;
    clear: both;
    content: "";
}

.hide{
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.inner{
    width: 1400px;
    margin: 0 auto;
}

.more_view{
   text-align: left;
   color: white;
   width: 124px;
   padding-left: 18px;
   line-height: 40px;
   background: #2496cc url(../images/2cd43b_97a486f9521c485e9f95bc61c7348ff6_mv2.png) no-repeat right 12px center;
   background-size: 14px;
}

/* layout start */
#header{
    background: radial-gradient(circle at 20%, #48c2db,#153779,#313332);
}

#header .inner{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

#header .inner .logo a>img{
    width: 130px;
    margin-top: 10px;
}

#header .inner nav{
    display: flex;
    justify-content: center;
    align-items: center;   
     color: white;
}

#header .inner nav ul.gnb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

}

#header .inner nav ul.gnb>li{
    margin: 0 5px;
}

#header .inner nav ul.gnb>li>a{
    padding: 0 10px;
}

#header .inner nav ul.gnb>li:last-child>a{
    color: #2496cc;
    font-weight: 600;
}

#header .gnb .lnb, div.mask{
    display: none;
}


#header .inner nav .right_btn a:first-child{
    text-align: center;
    width: 138px;
    line-height: 38px;
    background-color: #2496cc;
    margin-right: 5px;
}

#header .inner nav .right_btn a:nth-child(2){
    text-align: center;
    width: 152px;
    line-height: 38px;
    border:1px solid #2496cc;
    box-sizing: border-box;
}

#header .inner nav .right_btn>span{
    text-align: center;
}

/* visual start */
#visual{
    height: 834px;
    background: url(../images/visual_img.jpg) no-repeat center center;
    background-size: cover;
}

#visual .inner{
    position: relative;
}

#visual .inner h2{
    padding: 50px 0 5px;
    color: #051c48;
    font-size: 50px;
    font-weight: 800;
}

#visual .inner p{
    color: #051c48;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 70px;
}

#visual .inner a{
    margin-bottom: 390px;

}

#visual .inner img{
    position: absolute;
    top: 710px;
    right: 0;
}

#visual .page_nation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 790px;
    left: 50%;
    width: 110px;
    margin-left: -55px;
    text-indent: -9999px;
}
    #visual .page_nation>span{
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
    }

    #visual .page_nation>span:nth-child(2){
        background-color: transparent;
        border: 2px solid #fff;

    }
    