@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

html{
    font-size: 14px;
}

body{
    font: 14px Arial, Helvetica, sans-serif;
    color: #111;
    background: url(./img/bg-texture-light.jpg);
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

#wrap{
    padding: 0 15px;
}

#header{
    height: 100px;
}

/* container mobile */
#container h2{
    font-size: 2.429rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
}

#container .sh{
    background: #fff url(./img/zig.png) repeat-x 0 15px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#container .sh .shirt_area{
    padding: 45px 25px 0;
}

#container .sh h3{
    font-size:/* 18px */ 1.286rem;
    margin-bottom: 25px;
    font-weight: lighter;
}

#container .sh a{
    background-color: #111;
    display: block;
    color: white;
    padding: 15px 0;
}

#container .sh a img{
    vertical-align: middle;
    margin-left: 5px;
}

/* tablet */
@media screen and (min-width:600px){
    #wrap{
        padding: 0 30px;
    }
    #container .sh{
        width:48%;
        float: left;
        margin-right: 4%;
    }
    #container .sh:nth-child(2n)
    {
        margin-right: 0;
    };
}

/* pc */
@media screen and (min-width:960px){
    #wrap{
        padding: 0;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    #contents .sh{
        width: 32%;
        margin-right: 2%;
    }
    #contents .sh:nth-child(2n){
        margin-right: 2%;
    }
    #contents .sh:nth-child(3n){
        margin-right: 0;
    }

}