@charset "utf-8";

@font-face{
  font-family:"Score-l";
  src: local('S-Core Dream'),
       local('S-CoreDream'),
       url('../font/SCDream1.otf') format('opentype');
}

@font-face{
  font-family:"Score-r";
  src: local('S-Core Dream'),
       local('S-CoreDream'),
       url('../font/SCDream3.otf') format('opentype');
}

@font-face{
  font-family:"Score-b";
  src: local('S-Core Dream'),
       local('S-CoreDream'),
       url('../font/SCDream4.otf') format('opentype');
}

@font-face{
  font-family:"Score-bb";
  src: local('S-Core Dream'),
       local('S-CoreDream'),
       url('../font/SCDream5.otf') format('opentype');
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

a,span,img{
  display: inline-block;
}

.hide{
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  position: absolute;
}

body{
  font: 1rem/1.2 'Score-r','Arial';
  color: #111;
}

.inner{
  max-width: 1300px;
  min-width: 1300px;
  margin: 0 auto;
}

.more_btn{
  font-size: 0.875rem;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: #c90f1e url(../images/caret-right-solid.png)no-repeat right 13% center;
  background-size: 6px;
  color: white;
  padding: 0 14px;
  box-sizing: border-box;
}

/* header start */
#header{
  background-color: #c90f1e;
  color: white;
  padding: 20px 0 0;
}

#header:hover{
  background-color: white;
  color: #c90f1e;
  transition: 0.3s;
}

#header:hover .logo .white_logo{
  content:url("../images/logo_r.png");
}

#header:hover .logo_area .lang{
  font-family: 'Score-r',Arial, Helvetica, sans-serif;
}

#header:hover .logo_area .login {
  font-family: 'Score-r',Arial, Helvetica, sans-serif;
}
/* 
#header:hover nav ul.gnb li{
  font-family: 'Score-b',Arial, Helvetica, sans-serif;
} */

#header .logo_area{
  margin-bottom:20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#header .logo_area .lang{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 14px;
  font: 0.875rem/1.2 'Score-l','Arial';
}

#header .logo_area .lang a{
  padding: 0 5px;
  margin: 0 5px;
}

#header .logo_area .logo img{
  width: 288px;
}

#header .logo_area .login{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 14px;
  font: 0.875rem/1.2 'Score-l','Arial';
}

#header .logo_area .login a{
  padding: 0 5px;
  margin: 0 5px;
}

#header .nav{
  position: relative;
  text-align: center;

}

#header .nav .gnb{
  display: flex;
}

#header .nav .gnb li{
  width: 150px;
  margin: 0 33px;
  font-family: 'Score-b', Arial, Helvetica, sans-serif;
  /* text-align: center; */
}

#header .nav .gnb>li>a{
  padding: 12px 12px 20px;
  margin: 0 5px;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.nav .lnb{
  position: absolute;
  top: 53px;
  z-index: 100;
  width: 100%;
  /* background:#fff; */
  height: 289px;
  border-top: 0.6px solid #c90f1e;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
}

#header .nav .gnb li:hover{
  font-family: "Score-bb",Arial, Helvetica, sans-serif;
}

#header .nav:hover .lnb{
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.nav .lnb .inner {
  position: relative;
}

.nav .lnb .inner .content_area{
  position: absolute;
  left: -190px;
  display: flex;
  min-width: 1680px;
  color: #666;
  background-color: #fff;
}

.nav .lnb .lnb_title {
  width: 190px;
  padding-top: 100px;
<<<<<<< HEAD
  padding-left: 34px;
=======
  padding-left: 30px;
>>>>>>> 262a9c6a90b2f276e31610763c1e82b9ea384c75
  background-color: #c90f1e;
  color: white;
  text-align: left;
  box-sizing: border-box;
}

.nav .lnb .lnb_title p:first-child{
  font-size: 40px;
}

.nav .lnb .lnb_title p:last-child{
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.4;
}

.nav .lnb .lnb_menu{
  display: flex;
  justify-content: center;
  width: 1300px;
}

.nav .lnb .lnb_menu ul{
  width: calc(1300px/6);
}

.nav .lnb .lnb_menu ul:hover{
  background-color: #eee;
<<<<<<< HEAD
}

.nav .lnb .lnb_menu ul li{
  padding: 10px 0;
}

=======
}

.nav .lnb .lnb_menu ul li{
  padding: 10px 0;
}

>>>>>>> 262a9c6a90b2f276e31610763c1e82b9ea384c75
.nav .lnb .lnb_menu ul li:hover{
  color: #c90f1e;
}

.nav .lnb .lnb_menu ul li:first-child{
  padding-top: 24px;
}
.nav .lnb .lnb_menu ul li:last-child{
  padding-bottom: 24px ;
}

/* .nav .lnb .inner ul{
  width: 139px;
} */
<<<<<<< HEAD
=======

>>>>>>> 262a9c6a90b2f276e31610763c1e82b9ea384c75
/* visual */
#visual{
  background: url(../images/s_visual.png) no-repeat center center/cover;
  padding: 100px 0;
  color: white;
}

div.txt{
  width: 580px;
}

#visual p:nth-child(1){
  font-size: 42px;
  font-family: 'Score-b', Arial, Helvetica, sans-serif;
  margin-bottom:6px ;
}

#visual p:nth-child(2){
  font-size: 24px;
  margin-bottom: 30px;
}

#visual p:nth-child(3){
  font-size: 16px;
  line-height: 1.5;
}

/* main */

#main .menu_list{
  display: flex;
  color: #666;
  font-size: 18px;
}

#main .menu_list>li>a{
  padding: 22px 28px;
  margin-right: 20px;
}

#main .menu_list>li>a:hover{
  color: #c90f1e;
  font-family: 'Score-b';
}

#main .menu_list>li>a:first-child{
  padding-left: 0;
}

#main .menu_checkbox{
  border-top: 1.8px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#main .menu_checkbox>.inner{
  display: flex;
  color: #666;
  font-size: 14px;
}

#main .menu_checkbox>.inner label{
  padding: 14px 16px;
  margin-right: 10px;
}

#main .menu_checkbox>.inner label:first-child{
  padding-left: 0;
}

#main .menu_checkbox>.inner input{
  margin-right: 8px;
}

#main div.back{
  background-color: #efefef;
}

#main .content_area{
  padding: 50px 0 20px;
  display: flex;
  flex-wrap: wrap;
}

#main .content_area li{
  padding: 45px 45px;
  box-sizing: border-box;
  width: calc(1230px/3);
  height: 500px;
  margin-right: 35px;
  background-color:#fff;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 5% -170%;
  background-size: 700px;
}

#main .content_area li>p:nth-child(1){
  color: #888;
}

#main .content_area li>p:nth-child(2){
  font-size: 24px;
  font-family: 'Score-b';
  margin: 6px 0 2px -3px;
}

#main .content_area li>p:nth-child(3){
  font-size: 20px;
}

#main .content_area li:nth-child(3),
#main .content_area li:nth-child(6),
#main .content_area li:nth-child(9){
margin-right: 0;
}

#main .content_area li:nth-child(1){
  background-image: url(../images/m_traditional.jpg);
}
#main .content_area li:nth-child(2){
  background-image: url(../images/m_egg.png);
}
#main .content_area li:nth-child(3){
  background-image: url(../images/m_flexsteak.jpg);
}
#main .content_area li:nth-child(4){
  background-image: url(../images/m_sea.png);
}
#main .content_area li:nth-child(5){
  background-image: url(../images/m_turkey.png);
}
#main .content_area li:nth-child(6){
  background-image: url(../images/m_crazy.png);
}
#main .content_area li:nth-child(7){
  background-image: url(../images/m_black.png);
}
#main .content_area li:nth-child(8){
  background-image: url(../images/m_double.jpg);
}
#main .content_area li:nth-child(9){
  background-image: url(../images/m_licota.png);
}

#main .back .content_area>li{
  position: relative;
}

#main .back .content_area>li .after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c90f1e;
  padding: 45px 45px;
  box-sizing: border-box;
  opacity: 0;
  color: white;
}

#main .back .content_area>li:hover .after{
  opacity: 0.7; 
  transition: 0.3s;
}

#main .back .content_area>li:hover>.after>a{
  background-color: #c90f1e;
}

#main .back .content_area>li:hover p{
  color: white;
}

#main .back .content_area>li .after p:nth-child(2){
  font-size: 24px;
  font-family: 'Score-b';
  margin: 6px 0 2px -3px;
  }

#main .back .content_area>li .after p:nth-child(3){
  font-size: 20px;
}

#main .back .content_area>li .after p:nth-child(4){
  padding: 20px 0;
}

#main .back .content_area>li .after a{
  border: 1px solid #fff;
}


/* footer */
#footer{
  border-top: 1px solid #c90f1e;
}

#footer .top_footer>.inner{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .top_footer>.inner .more_btn{
  width: 260px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  color: #aaa;
  background: transparent url(../images/caret-right-solid_C.png) no-repeat right 5% center;
  background-size: 8px;
}

#footer .bottom_footer{
  background-color: #222;
  padding: 42px 0;
  position: relative;
}

#footer .bottom_footer .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  font-size: 0.875rem;
}

#footer .bottom_footer .inner .left>ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#footer .bottom_footer .inner .left>ul a::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #bbb;
  margin: 0 10px;
}

#footer .bottom_footer .inner .left>small{
  font-size: 0.75rem;
}

#footer .bottom_footer .inner .right{}

#footer .bottom_footer .inner .right .sns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .bottom_footer .inner .right .sns p{
  margin-right:12px;
}

#footer .bottom_footer .inner .right .sns a{
  font-size: 1.2rem;
  margin-right: 3px;
}

#footer .bottom_footer .inner .right .sns a:nth-child(4){
  margin-right: 12px;
}

#footer .click{
  background-color: #353535;
  /* height: 50px; */
  color: #ddd;
  font-size: 0.875rem;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  text-align: center;
  padding: 34px 0;
}